 body {
     font&#45;family: Arial, Helvetica, sans&#45;serif;
 }
 
 span.boldtext {
     font&#45;weight: 600;
 }
 
table#skillstable {
    width:auto;
}
h4.jobtitle{
    float:left;
}

h5.companytitle{

    float:right;
}

@media print {
     .container {
         width: auto;
     }
 }